*{
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    transition: all 0.3s ease 0s;
}
.wrapper{
    background-color: rgb(15, 22, 36);
    transition: all 0.3s ease 0s;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 10vh;
}
.cards__container{
    padding: 2rem;
}
.logo{
    width: 600px;
    height: 100px;
    padding-top: 5rem;
    padding-left: 700px;
}
.logo:hover{
    cursor: pointer;
}